<div class="post" *ngIf="post">
  <div class="post-header">
    <h4><a [routerLink]="'profile/' + post.userId" [innerText]="userName"></a></h4>

    <div class="post-actions">
      <a [routerLink]="'post/' + post.id">Go to post</a>

      <button class="btn btn-success" *ngIf="!post.isFeatured" (click)="markFeatured(post.id, true)">Set featured</button>
      <button class="btn btn-danger" *ngIf="post.isFeatured" (click)="markFeatured(post.id, false)">Set not featured</button>
    </div>
  </div>

  <div class="post-body">
    <img *ngIf="isImagePost(post)" [src]="getImgUrl(post)" alt="post image" />
    <p *ngIf="post.text" [innerText]="post.text | capitalizeFirstLetter"></p>
  </div>

  <div class="post-footer">
    <div class="d-flex flex-row justify-content-end">
      <likes-core
        #likes
        [likes]="post.likes"
        [likedByUser]="likedByUser"
        (onLikedOrDisliked)="$event ? addLike() : removeLike()"
      ></likes-core>

      <button class="btn btn-info" (click)="countTotalLikes()">Show total likes</button>
    </div>
  </div>
</div>
