<div class="post" *ngIf="post">
  <div class="post-header">
    <h4><a [routerLink]="'profile/' + post.userId" [innerText]="userName"></a></h4>

    <a [routerLink]="'post/' + post.id">Go to post</a>
  </div>

  <div class="post-body">
    <p [innerText]="post.text"></p>
  </div>

  <div class="post-footer">
    <div class="d-flex flex-row justify-content-end">
      <likes-core
        #likes
        [likes]="post.likes"
        [likedByUser]="likedByUser"
      ></likes-core>

      <button class="btn btn-info" (click)="countTotalLikes()">Show total likes</button>
    </div>
  </div>
</div>
