<alerts-outlet></alerts-outlet>

<div class="d-flex flex-row justify-content-end align-items-center p-2 gap-1">
  <a [routerLink]="'profile/' + currentUser?.id" class="mr-2" [innerText]="currentUser?.nickname"></a>

  <button class="btn btn-info" (click)="logout()">Logout</button>
</div>

<div class="posts">
  <input type="text" [ngModel]="searchData" class="form-control search-data" placeholder="Search posts by username or post content" (ngModelChange)="searchPosts()" />
  <input type="checkbox" class="form-control" [ngModel]="filterByFeaturedFLag" (ngModelChange)="searchPosts()"> Show featured posts
  <button class="btn btn-success" (click)="addPost()">Add new post</button>

  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="btn-group mt-4" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn"
        (click)="selectedOption = sortOptions.likes"
        [class.btn-outline-secondary]="selectedOption !== sortOptions.likes"
        [class.btn-secondary]="selectedOption === sortOptions.likes"
      >Sort by likes</button>
      <button
        type="button"
        class="btn"
        (click)="selectedOption = sortOptions.featured"
        [class.btn-outline-secondary]="selectedOption !== sortOptions.featured"
        [class.btn-secondary]="selectedOption === sortOptions.featured"
      >Featured</button>
      <button
        type="button"
        class="btn"
        (click)="selectedOption = sortOptions.all"
        [class.btn-outline-secondary]="selectedOption !== sortOptions.all"
        [class.btn-secondary]="selectedOption === sortOptions.all"
      >All</button>
    </div>

    <button class="btn btn-success" (click)="getAllPosts()">Refresh posts</button>
  </div>

  <div *ngIf="posts">
    <div *ngFor="let post of posts | highlightedPosts : selectedOption" class="mt-4">
      <post-core
        [post]="post"
        [currentUserId]="post.userId"
        [userName]="getUserNicknameById(post.userId)"
        (onLike)="reloadPosts(addLike(post.id, currentUser?.id || ''))"
        (onDislike)="reloadPosts(removeLike(post, currentUser?.id || ''))"
        (onMarkedFeatured)="reloadPosts(markPostFeatured($event, posts))"
      ></post-core>
    </div>
  </div>
</div>
