.posts {
  padding-left: 4rem;
  padding-right: 8rem;
}

.post {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;

  &-header {
    border-bottom: 1px solid #d0d0d0;
  }

  &-body {
    padding-top: 1rem;
  }
}

.p-2 {
  padding: 8rem;
}
