.posts {
  padding-left: 4rem;
  padding-right: 8rem;
}

.p-2 {
  padding: 8rem;
}

a {
  color: #00b2ff;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.underline {
  text-decoration: underline;
}
