<div class="d-flex flex-row justify-content-end p-2">
  <button class="btn btn-info" (click)="logout()">Logout</button>
</div>

<div class="posts">
  <input type="text" [ngModel]="searchData" class="form-control" placeholder="Search posts by username or post content" (ngModelChange)="searchPosts($event)" />

  <div class="post" *ngFor="let post of posts">
    <div class="post-header">
      <h4 [innerText]="getUserNicknameById(post.userId)"></h4>

      <a [routerLink]="post.id">Go to post</a>
    </div>

    <div class="post-body">
      <p [innerText]="post.text"></p>
    </div>
  </div>
</div>
